<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static '/todo/styles.css' %}"
    />
    <script
      type="text/javascript"
      src="{% static '/todo/scripts.js' %}"
    ></script>
  </head>
  <header>
    <ul>
      <li class="nav_item"><a href="/">Home</a></li>
      <li class="nav_item"><a href="/new_item/">New Item</a></li>
      {% if user.is_staff %}
      <li class="nav_item"><a href="/admin/">Admin</a></li>
      {% endif %}
      <li class="nav_item" style="float: right">
        <a href="/accounts/logout">logout</a>
      </li>
    </ul>
  </header>
  <body>
    {% block content %} {% endblock %}
  </body>
  <footer></footer>
</html>
