{% extends 'todo/base.html' %} {% block content %}
<section>
  {% if item %}
  <br>
  <table>
    <tr>
      <th colspan="2" style="background-color: #5f9ea0; color: white">
        Detail
      </th>
    </tr>
    <tr>
      <th>Item</th>
      <td>{{ item.item }}</td>
    </tr>
    <tr>
      <th>Priority</th>
      <td>{{ item.priority }}</td>
    </tr>
    <tr>
      <th>Due</th>
      <td>{{ item.date }}</td>
    </tr>
  </table>
  {% if not item.complete %}
  <button onclick="window.location.href='/completed_task/{{ item.id }}'">
    Complete task
  </button>
  {% endif %} {% if item.complete %}
  <button onclick="window.location.href='/uncomplete_task/{{ item.id }}'">
    Mark Uncomplete
  </button>
  {% endif %} {% endif %} {% endblock %}
</section>
