{% extends 'todo/base.html' %} {% block content %}
<div id="welcome">
  <p>Welcome, {{ user.first_name }}.</p>
</div>

<section>
  <br />
  <div class="column">
    <table style="min-width: 100%;">
      <tr>
        <th style="background-color: #5f9ea0; color: white;">
          Todo List
        </th>
      </tr>
      {% if latest_items %} {% for i in latest_items %} {% if not i.complete %}
      <tr>
        <td>
          <a href="/{{ i.id }}/">{{ i.item }}</a>
        </td>
      </tr>
      {% endif %} {% endfor %} {% endif %}
    </table>
  </div>
  <div class="column">
    <button style="float: right;" onclick="window.location.href='/completed'">
      Completed Items
    </button>
    <button style="float: right;" onclick="window.location.href='/all_items'">
      All
    </button>
  </div>
</section>

{% endblock %}
