* {
  font-family: "Arial", serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

p {
  font-size: 14px;
}

#welcome {
  min-width: 100%;
  padding: 0.5pt;
  padding-left: 3px;
  background-color: khaki;
}

#welcome p {
  padding-left: 20px;
}

header {
  padding-top: 5px;
  padding-left: 10px;
  height: 30px;
  position: relative;
  background-color: cadetblue;
}

header h1 {
  padding-left: 10px;
  font-size: 21px;
  color: white;
}

header li a {
  display: block;
  text-decoration: none;
  font-size: 14px;
  padding: 5px 10px 5px 10px;
  margin: 0px;
  color: white;
}

header li a:hover {
  color: wheat;
}

header ul {
  list-style-type: none;
  margin: 0px;
  padding-left: 5px;
  overflow: hidden;
}

li.nav_item {
  float: left;
  padding: 0px;
  bottom: 0;
}

body {
  background-color: aliceblue;
}

section {
  max-width: 100%;
  margin-left: 20px;
  margin-right: 20px;
}

section ul li a {
  color: black;
}

table {
  text-align: left;
  padding: 2px;
  border: 1px;
  border-collapse: collapse;
  min-width: 50%;
  max-width: 50%;
}

th,
td {
  padding: 10px;
  text-align: left;
  background-color: white;
  border-bottom: 1px solid #ddd;
}

section table tr td a {
  text-decoration: none;
  color: black;
}

section table tr td a:hover {
  color: darkslategrey;
}

button, input[type=submit] {
  border: none;
  color: white;
  background-color: cadetblue;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.4s;
  cursor: pointer;
}

button:hover, input[type=submit]:hover {
  background-color: white;
  color: cadetblue;
  border-color: cadetblue;
  border: 1px;
  border-style: solid;
}

.column {
  margin: 0 auto;
  width: 49%;
  float: left;
  box-sizing: border-box;
}

#new_item_form td input[type=text], input[type=date], input[type=number] {
  min-width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  border-style: none;
}